<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - 文章页面</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> <link href="css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg" >
<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <!--<div class="pull-right">
                        <button class="btn btn-white btn-xs" type="button">武侠</button>

                    </div>-->
                    <div class="text-center article-title">
                        <h1>三生三世十里桃花<span class="small">作者名</span> <button class="btn btn-white btn-xs" type="button">武侠</button>  </h1>
                    </div>
                    <hr>
                    <p style="width: 80%;margin: 0 auto;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia dolorum accusantium id sapiente
                        nesciunt at mollitia in nemo iure ipsa tempore dolor aut voluptatibus placeat odio debitis quo? Repudiandae?

                    </p>
                    <hr>



                </div>
            </div>
        </div>
    </div>

</div>
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.6"></script>
    <script src="js/content.min.js?v=1.0.0"></script>
</body>

</html>
