<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>registerform</title>
		<link href="css/demo/repassword.css" type="text/css" rel="stylesheet" />
		<style>
			.registerform li {
				padding-bottom: 20px;
			}
			
			.Validform_checktip {
				margin-left: 10px;
			}
			
			.registerform .label {
				display: inline-block;
				width: 70px;
			}
			
			.action {
				padding-left: 92px;
			}
			
			
		</style>
	</head>

	<body>
		<div class="wraper-i">
			<form class="registerform" id="registerform" action="">
				<ul>
					<li>
						<label class="label"><span class="need">*</span> 原密码：</label>
						<input type="password" value="" name="password" class="inputxt" id="password" />
					</li>
					<li>
						<label class="label"><span class="need">*</span> 新密码：</label>
						<input type="password" value="" name="newpassword" class="inputxt" id="newpassword" />
					</li>
					<li>
						<label class="label"><span class="need">*</span> 确认密码：</label>
						<input type="password" value="" name="repassword2" class="inputxt" id="repassword" />
					</li>

				</ul>
				<div class="action">
					<input class="btn btn-success" type="submit" value="提 交" /> <input class="btn btn-success" type="reset" value="重 置" />
				</div>
			</form>
		</div>

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/Validform_v5.3.2_min.js"></script>

		<script type="text/javascript">
			$(function() {
				//$(".registerform").Validform();  //就这一行代码！;

				var demo = $(".registerform").Validform({
					tiptype: 3,
					label: ".label",
					showAllError: false,
					datatype: {
						"zh1-6": /^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
					},
					ajaxPost: true
				});

				//通过$.Tipmsg扩展默认提示信息;
				//$.Tipmsg.w["zh1-6"]="请输入1到6个中文字符！";
				demo.tipmsg.w["zh1-6"] = "请输入1到6个中文字符！";

				demo.addRule([{
					ele: ".inputxt:eq(0)",
					datatype: "*6-20"
				}, {
					ele: ".inputxt:eq(1)",
					datatype: "*6-20"
				}, {
					ele: ".inputxt:eq(2)",
					datatype: "*6-20",
					recheck: "newpassword"
				}])

			})
		</script>
	</body>

</html>